Source/Phone/WP8.0/Service References/LocationServiceRef/LocationService21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.microsoft.com/sos/2013/02" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.microsoft.com/sos/2013/02" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.microsoft.com/sos/2013/02/Imports">
      <xsd:import schemaLocation="http://localhost:39018/LocationService.svc?xsd=xsd0" namespace="http://www.microsoft.com/sos/2013/02" />
      <xsd:import schemaLocation="http://localhost:39018/LocationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:39018/LocationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOS.Service.Interfaces.DataContracts" />
      <xsd:import schemaLocation="http://localhost:39018/LocationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SOS.Service.Interfaces.DataContracts.OutBound" />
      <xsd:import schemaLocation="http://localhost:39018/LocationService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LocationService_GetUserLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLocation" />
  </wsdl:message>
  <wsdl:message name="LocationService_GetUserLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLocationResponse" />
  </wsdl:message>
  <wsdl:message name="LocationService_GetUserLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLocations" />
  </wsdl:message>
  <wsdl:message name="LocationService_GetUserLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="LocationService_GetMyBuddies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyBuddies" />
  </wsdl:message>
  <wsdl:message name="LocationService_GetMyBuddies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyBuddiesResponse" />
  </wsdl:message>
  <wsdl:message name="LocationService_GetBuddiesToLocate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuddiesToLocate" />
  </wsdl:message>
  <wsdl:message name="LocationService_GetBuddiesToLocate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuddiesToLocateResponse" />
  </wsdl:message>
  <wsdl:portType name="LocationService">
    <wsdl:operation name="GetUserLocation">
      <wsdl:input wsaw:Action="http://www.microsoft.com/sos/2013/02/LocationService/GetUserLocation" message="tns:LocationService_GetUserLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://www.microsoft.com/sos/2013/02/LocationService/GetUserLocationResponse" message="tns:LocationService_GetUserLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserLocations">
      <wsdl:input wsaw:Action="http://www.microsoft.com/sos/2013/02/LocationService/GetUserLocations" message="tns:LocationService_GetUserLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://www.microsoft.com/sos/2013/02/LocationService/GetUserLocationsResponse" message="tns:LocationService_GetUserLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyBuddies">
      <wsdl:input wsaw:Action="http://www.microsoft.com/sos/2013/02/LocationService/GetMyBuddies" message="tns:LocationService_GetMyBuddies_InputMessage" />
      <wsdl:output wsaw:Action="http://www.microsoft.com/sos/2013/02/LocationService/GetMyBuddiesResponse" message="tns:LocationService_GetMyBuddies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuddiesToLocate">
      <wsdl:input wsaw:Action="http://www.microsoft.com/sos/2013/02/LocationService/GetBuddiesToLocate" message="tns:LocationService_GetBuddiesToLocate_InputMessage" />
      <wsdl:output wsaw:Action="http://www.microsoft.com/sos/2013/02/LocationService/GetBuddiesToLocateResponse" message="tns:LocationService_GetBuddiesToLocate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>