Source/Phone/WP8.0/Service References/GroupServiceRef/GroupService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.microsoft.com/sos/2013/02" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.microsoft.com/sos/2013/02" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.microsoft.com/sos/2013/02/Imports">
      <xsd:import schemaLocation="http://localhost:39018/GroupService.svc?xsd=xsd0" namespace="http://www.microsoft.com/sos/2013/02" />
      <xsd:import schemaLocation="http://localhost:39018/GroupService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:39018/GroupService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOS.Service.Interfaces.DataContracts" />
      <xsd:import schemaLocation="http://localhost:39018/GroupService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SOS.Service.Interfaces.DataContracts.OutBound" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GroupService_GetListOfGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfGroups" />
  </wsdl:message>
  <wsdl:message name="GroupService_GetListOfGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="GroupService_GetListOfVolunteerGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfVolunteerGroups" />
  </wsdl:message>
  <wsdl:message name="GroupService_GetListOfVolunteerGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfVolunteerGroupsResponse" />
  </wsdl:message>
  <wsdl:portType name="GroupService">
    <wsdl:operation name="GetListOfGroups">
      <wsdl:input wsaw:Action="http://www.microsoft.com/sos/2013/02/GroupService/GetListOfGroups" message="tns:GroupService_GetListOfGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://www.microsoft.com/sos/2013/02/GroupService/GetListOfGroupsResponse" message="tns:GroupService_GetListOfGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListOfVolunteerGroups">
      <wsdl:input wsaw:Action="http://www.microsoft.com/sos/2013/02/GroupService/GetListOfVolunteerGroups" message="tns:GroupService_GetListOfVolunteerGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://www.microsoft.com/sos/2013/02/GroupService/GetListOfVolunteerGroupsResponse" message="tns:GroupService_GetListOfVolunteerGroups_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>