Source/Phone/WP8.0/Service References/GroupServiceRef/GroupService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.microsoft.com/sos/2013/02" elementFormDefault="qualified" targetNamespace="http://www.microsoft.com/sos/2013/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39018/GroupService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOS.Service.Interfaces.DataContracts" />
  <xs:element name="GetListOfGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOS.Service.Interfaces.DataContracts" minOccurs="0" name="GetListOfGroupsResult" nillable="true" type="q1:GroupList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfVolunteerGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfVolunteerGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOS.Service.Interfaces.DataContracts" minOccurs="0" name="GetListOfVolunteerGroupsResult" nillable="true" type="q2:ArrayOfGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>