Source/Phone/WP8.0/Service References/GeoServiceRef/GeoUpdate2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.microsoft.com/sos/2013/02" elementFormDefault="qualified" targetNamespace="http://www.microsoft.com/sos/2013/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39018/GeoUpdate.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOS.Service.Interfaces.DataContracts" />
  <xs:element name="PostMyLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOS.Service.Interfaces.DataContracts" minOccurs="0" name="GeoTags" nillable="true" type="q1:GeoTags" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostMyLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostMyLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostLocationWithMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOS.Service.Interfaces.DataContracts" minOccurs="0" name="GeoTag" nillable="true" type="q2:GeoTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostLocationWithMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostLocationWithMediaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopPostings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProfileID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ticks" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopPostingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopSOSOnly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProfileID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ticks" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopSOSOnlyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLastSMSPostedTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProfileID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SMSPostedTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLastSMSPostedTimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportIncident">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SOS.Service.Interfaces.DataContracts" minOccurs="0" name="incidentTag" nillable="true" type="q3:IncidentTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportIncidentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportIncidentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>